$margin-left: 10px;
$background-color: #fa3d3d;
$Sold-color: #efbb63;
$flex: flex;
.MarginInput {
  margin-left: $margin-left;
}
.Menu {
  background: $background-color;
}
.Header {
  padding: 0;
}
.FooterContent{
  margin-left: 8px;
}
.ContentSide{
  background: #f3f3f3;
}
.ListProduct{
  @extend .ContentSide;
  padding: 10px 0;
}
.Logo {
  @extend .MarginInput;
  padding-right: 100px;
}
$text-color: white;
$x: 1;
@while $x < 3 {
  .text-#{$x} {
    color: $text-color;
  }
  $x: $x + 1;
}
.btnLogin {
  background: $background-color;
  color: $text-color;
}


.ContentSide {
  width: 100%;
  .SizeImg1 {
    width: 100%;
    padding: 5px;
  }
  .SizeImg2 {
    width: 100%;
    height: 210px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.CardProduct {
  margin-left: $margin-left;
  position: relative;
  z-index: 1;
  img{
    width: 100%;
  }
}
.CardProduct:after{
  position: absolute;
  top:0;
  left: 0;
  height: 0;
  content: "";
  border: 40px solid orange;
  width: 0;
  z-index: 2;
  border-bottom: 30px solid  white;
}
.Discount{
  position: absolute;
  z-index: 3;
  top: 0;
  left: 10%;

}
.DescriptionCard {
  margin-right: 25px;
}
.ContentVoucher {
  margin: 10px 0;
  .Voucher {
    display: flex;
    align-items: center;
    border: 1px solid #dadada;
    img {
      width: 100%;
    }
  }
}
.BestSales{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.ViewAll{
    display: $flex;
    flex-direction: row-reverse;
}
.BackGroundBestSales{
  @extend .ContentSide;
}
.ContentBestSales{
  padding: 10px 20px;
  border-bottom: 3px solid $background-color;
  margin: 0 15px;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  background: #ffffff;
}
.Hr{
    border-bottom: 5px solid $background-color;
}
.footer{
    text-align: left;
    padding-top: 20px;
    margin-bottom: 20px;
    p{
      margin-top: 20px;
    }
}
@media screen and (min-width: 319px){
  .ColProduct{
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 769px){
  .MarginInput {
    margin-left: 0!important;
  }
  .Logo {
    margin-left: 0;
    padding-right: 0;
  }
  .SizeImg2{
    height: 106px!important;
  }
  .pic-1{
    height: 250px!important;
  }
  .SizeText{
    font-size: 10px;
  }
}
@media screen and (max-width: 1025px){
  .CardProduct{
    width: 200px; 
  }
  .CardProduct .img{
    width: 100%;
  }
  .SizeImg2{
    height: 140px!important;
  }
}