.MarginInput, .Logo {
  margin-left: 10px;
}

.Menu {
  background: #fa3d3d;
}

.Header {
  padding: 0;
}

.FooterContent {
  margin-left: 8px;
}

.ContentSide, .BackGroundBestSales, .ListProduct {
  background: #f3f3f3;
}

.ListProduct {
  padding: 10px 0;
}

.Logo {
  padding-right: 100px;
}

.text-1 {
  color: white;
}

.text-2 {
  color: white;
}

.btnLogin {
  background: #fa3d3d;
  color: white;
}

.ContentSide, .BackGroundBestSales, .ListProduct {
  width: 100%;
}
.ContentSide .SizeImg1, .BackGroundBestSales .SizeImg1, .ListProduct .SizeImg1 {
  width: 100%;
  padding: 5px;
}
.ContentSide .SizeImg2, .BackGroundBestSales .SizeImg2, .ListProduct .SizeImg2 {
  width: 100%;
  height: 210px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.CardProduct {
  margin-left: 10px;
  position: relative;
  z-index: 1;
}
.CardProduct img {
  width: 100%;
}

.CardProduct:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  content: "";
  border: 40px solid orange;
  width: 0;
  z-index: 2;
  border-bottom: 30px solid white;
}

.Discount {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 10%;
}

.DescriptionCard {
  margin-right: 25px;
}

.ContentVoucher {
  margin: 10px 0;
}
.ContentVoucher .Voucher {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
}
.ContentVoucher .Voucher img {
  width: 100%;
}

.BestSales {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.ViewAll {
  display: flex;
  flex-direction: row-reverse;
}

.ContentBestSales {
  padding: 10px 20px;
  border-bottom: 3px solid #fa3d3d;
  margin: 0 15px;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  background: #ffffff;
}

.Hr {
  border-bottom: 5px solid #fa3d3d;
}

.footer {
  text-align: left;
  padding-top: 20px;
  margin-bottom: 20px;
}
.footer p {
  margin-top: 20px;
}

@media screen and (min-width: 319px) {
  .ColProduct {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 769px) {
  .MarginInput, .Logo {
    margin-left: 0 !important;
  }

  .Logo {
    margin-left: 0;
    padding-right: 0;
  }

  .SizeImg2 {
    height: 106px !important;
  }

  .pic-1 {
    height: 250px !important;
  }

  .SizeText {
    font-size: 10px;
  }
}
@media screen and (max-width: 1025px) {
  .CardProduct {
    width: 200px;
  }

  .CardProduct .img {
    width: 100%;
  }

  .SizeImg2 {
    height: 140px !important;
  }
}

/*# sourceMappingURL=home.css.map */
